/* This is just an example.  You shouldn't do this. */
#texthighlighter-hello
{
  color: red ! important;
}
#texthighlighter-toolbar-button
{
  list-style-image: url("chrome://texthighlighter/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#texthighlighter-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #texthighlighter-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #texthighlighter-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}

#myTabList{
	width: 100%;
	height: 400px;
}

#myTabs {
	width:100%;
	height: 400px;
}

#image1 {
  list-style-image: url("ajax_loader_transparent.gif");
  display: none;
}
